.gallery {
	display: flex;
	flex-direction: column; /* Stack items vertically */
	justify-content: center; /* Center vertically */
	align-items: center; /* Center horizontally */
	width: 100vw;
	height: 100vh;
	overflow: hidden; /* Hide overflow */
}

.card-container {
	display: flex;
	justify-content: center; /* Center slider cards */
	position: relative; /* Positioning context for slider cards */
	/* top: 12rem; */
	width: 100%; /* Ensure full width */
}

.card {
	display: flex;
	justify-content: center; /* Center the cards */
	align-items: center; /* Center the cards */
	position: relative; /* For positioning the slider cards */
}

.slider-card {
	list-style: none;
	padding: 1rem;
	margin: 0;
	width: 14rem;
	height: 18rem;
	text-align: center;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	/* background: rgb(9 3 37 / var(--tw-bg-opacity)); */

    --tw-bg-opacity: 1;
    background-color: rgb(9 3 37 / var(--tw-bg-opacity));
	border-top: 1px solid rgb(9 3 37 / var(--tw-bg-opacity));
	border-left: 1px solid rgb(9 3 37 / var(--tw-bg-opacity));
	backdrop-filter: blur(5px);
	position: absolute;
	border-radius: 0.8rem;
	transition: transform 0.5s ease, z-index 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Centering the card correctly using transforms */
.slider-card:nth-child(1) {
	transform: translateX(0%);
}

.slider-card:nth-child(2) {
	transform: translateX(150%) scale(0.8);
}

.slider-card:nth-child(3) {
	transform: translateX(-150%) scale(0.8);
}

.icon {
	height: 10rem;
	width: 10rem;
	margin-bottom: 1rem;
}

.name {
	color: white;
}

.actions {
	margin-top: 12rem;
	display: flex;
	justify-content: center;
	gap: 1rem; /* Space between buttons */
	transform: translateX(50%) scale(0.8);
}

.actions button {
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
}
